a { color:#113355; text-decoration:none; }
a:hover { color:#113355; text-decoration:underline; }

a.side { color:#113355; text-decoration:none; }
a:hover.side { color:#113355; text-decoration:underline; }

a.white { color:#ddd; text-decoration:none; }
a:hover.white { color:#ddd; text-decoration:underline; }

body {
	font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:11px; 
	scrollbar-face-color:#5588aa; scrollbar-shadow-color:#ddd; 
	scrollbar-highlight-color:#ddd; scrollbar-3dlight-color:#333; 
	scrollbar-darkshadow-color:#333; scrollbar-track-color:#777; 
	scrollbar-arrow-color:#eee; 
}

form { margin:0px 0px 0px 0px; }

hr { height:1px; color:#bbb }

hr.side-hr { height:1px; color:#bbb }
td { font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:11px; }

pre { font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:10px; }

.alt { color:#666; }

.header {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color:#333; background-color:#bbb;
}

.header2 {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color:#eee; background-color:#5588aa;
	border-top:1px #ddd solid;
	border-bottom:1px #ddd solid;
	padding:4px 4px 5px 4px;
}

.footer {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color:#333; background-color:#bbb;
	padding:10px;
}

.footer2 {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color:#ccc;
	padding:10px;
}

.button {
	font-family:Tahoma,Arial,Verdana,Sans-Serif;
	font-size:10px;
	color:#000; background-color:#fff;
	height:19px;
	padding:0px 2px 0px 2px;
	border:1px #888 solid;
	margin-top:2px;
}
	
.textbox {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:10px;
	color:#000; background-color:#eee;
	border:1px #999 solid;
}

.main-bg { background-color:#bbb; padding:10px; }

.side-border-left { background-color:#bbb; padding:10px 0px 10px 10px; }
.side-border-right { background-color:#bbb; padding:10px 10px 10px 0px; }

.main-body {
	font-size:11px;
	color:#333; background-color:#ddd;
	padding:3px 4px 3px 4px;
}

.side-body {
	font-size:10px;
	color:#333; background-color:#ddd;
	padding:4px 4px 6px 4px;
}

.border { background-color:#ddd; border:1px #000 solid; }

.infobar {
	font-size:9px;
	color:#000; background-color:#ccc;
	text-align:right;
	padding:1px 4px 2px 4px;
}

.caption {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px;
	color:#eee; background-color:#5588aa;
	padding:2px 4px 4px 4px;
}

.side-caption {
	font-family:Verdana,Tahoma,Arial,Sans-Serif;
	font-size:11px;
	color:#eee; background-color:#5588aa;
	padding:2px 4px 4px 4px;
}

.tbl-border { background-color:#999; }
.tbl { font-size:11px; padding:3px 4px 3px 4px; }
.tbl1 {	font-size:11px; color:#000; background-color:#ddd; padding:4px; }
.tbl2 { font-size:11px; color:#000; background-color:#ccc; padding:4px; }
	
.forum-caption {
	font-size:10px;
	color:#eee; background-color:#447799;
	height:20px;
	padding:0px 4px 2px 4px;
}

.quote {
	color:#000; background-color:#eee;
	padding:2px;
	margin:0px 20px 0px 20px;
	border:1px #bbb solid;
}
	
.poll { height:12px; border:1px #000 solid; }

.comment-name { font-weight:bold; color:#113355; }

.shoutboxname { font-weight:bold; color:#113355; }
.shoutbox { color:#666; }
.shoutboxdate { font-size:9px; color:#333; text-align:right; }

.small { font-size:10px; font-weight:normal; }
.small2 { font-size:10px; font-weight:normal; color:#666; }
.side-small { font-size:10px; font-weight:normal; color:#333; }
.side-label { background-color:#ccc; padding:2px; }

.gallery { padding: 16px 0px 8px 0px; }
.gallery img { border: 1px solid #ccc; filter: gray; }
.gallery:hover img { border: 1px solid red; filter: none; }
img.activegallery { border: 1px solid green; filter: none; }