.alt {
	color:#aaa;
}

.altbg {
	font:bold 10px verdana,tahoma,arial;
	color:#ccc;background-color:#182f2c;
	padding:4px;
}

.white-header {
	font:normal 10px verdana,tahoma,arial;
	color:#ccc;background-color:#283f3c;
	padding:4px;
	border-top:#586f6c 1px solid;
	border-bottom:#586f6c 1px solid;
}

.full-header {
	font:10px verdana,tahoma,arial;
	color:#fff;background-color:#485f5c;
}

.button {
	font:10px tahoma,verdana,arial;
	color:#000;background-color:#687f7c;
	height:19px;
	background-image:url(images/button.gif);background-repeat:repeat-x;
	border:1px #687f7c solid;margin-top:2px;
}
	
.textbox {
	font:10px verdana,arial;
	color:#ccc;background-color:#081f1c;
	border:1px #687f7c solid;
}

.body {
	font:11px;
	color:#ccc;background-color:#283f3c;
	padding:3px 4px 3px 4px;
}

.sbody {
	font:10px;
	color:#fff;
	padding:4px 4px 6px 4px;
}

.bodybg {
	background-color:#081f1c;
	padding:10px
}

.border {
	border-width:0px 1px 1px 1px;border-color:#485f5c;border-style:solid;
}

.slborder {
	background-color:#485f5c;
	border-width:0px 1px 0px 0px;border-color:#3c3c3c;border-style:solid;
}

.srborder {
	background-color:#485f5c;
	border-width:0px 0px 0px 1px;border-color:#3c3c3c;border-style:solid;
}

.news-footer {
	font:9px;
	color:#ccc;background-color:#182f2c;
	padding:2px 2px 2px 2px;
}

.barmain {
	font:bold 10px verdana,tahoma,arial;
	color:#ddd;
	height:20px;
	padding:0px 2px 2px 2px;
	background-image:url(images/barmain.gif);background-repeat:repeat-x;}

.barleft {
	width:2px;height:20px;
	background-image:url(images/barleft.gif);
}

.barright {
	width:2px;height:20px;
	background-image:url(images/barright.gif);
}

.capmain {
	font:bold 10px verdana,tahoma,arial;
	color:#ddd;
	height:20px;
	padding:0px 2px 2px 2px;
	background-image:url(images/capmain.gif);background-repeat:repeat-x;
}

.capleft {
	width:2px;height:20px;
	background-image:url(images/capleft.gif);
}

.capright {
	width:2px;height:20px;
	background-image:url(images/capright.gif);
}

.scapmain {
	font:bold 10px verdana,tahoma,arial;
	color:#000;
	height:19px;
	padding:0px 2px 0px 2px;
	background-image:url(images/scapmain.gif);background-repeat:repeat-x;
	border-width:1px 0px 1px 0px;border-color:#283f3c #000 #283f3c #000;border-style:solid;
}

.forum-border {
	background-color:#384f4c;
}
	
.forum-caption {
	font:bold 10px;
	color:#ddd;background-color:#283f3c;
	height:20px;
	padding:0px 4px 2px 4px;
	background-image:url(images/capmain.gif);background-repeat:repeat-x;
}

.quote {
	font:11px;
	color:#ccc;background-color:#182f2c;
	padding:2px;
	margin:0px 20px 0px 20px;
	border:1px #284f4c solid;
}

.forum1 {
	font:11px;
	color:#ccc;background-color:#283f3c;
	padding:4px;
}

.forum2 {
	font:11px;
	color:#ccc;background-color:#182f2c;
	padding:4px;
}
	
.poll {
	height:12px;
	border:1px #000 solid;
}

.shoutboxname {
	color:#ffddaa;
}

.shoutbox {
	color:#ccc;
}

.shoutboxdate {
	font:9px;
	color:#aaa;
	text-align:right;
}

.small {
	font:normal 10px;
}

.small2 {
	font:normal 10px;color:#aaa;
}

a {
	color:#ddcc88;
	text-decoration:none;
}

a:hover {
	color:#ddcc88;
	text-decoration:underline;
}

a.slink {
	color:#ffddaa;
	text-decoration:none;
}

a:hover.slink {
	color:#ffddaa;
	text-decoration:underline;
}

a.white {
	color:#ddd;
	text-decoration:none;
}

a:hover.white {
	color:#333;
	text-decoration:underline;
}

a.foot {
	color:#98afac;
	text-decoration:none;
}

a:hover.foot {
	color:#98afac;
	text-decoration:none;
}

body {
	font:11px verdana,tahoma,arial;
}

form {
	margin:0px 0px 0px 0px;
}

hr {
	height:2px;
	border-top:#081f1c 1px solid;
	border-bottom:#485f5c 1px solid;
}

hr.shr {
	height:2px;
	border-top:#283f3c 1px solid;
	border-bottom:#687f7c 1px solid;
}

td {
	font:11px verdana,tahoma,arial;
	color:#ccc;
}
