.alt {
	color:#555;
}

.altbg {
	font:bold 10px verdana,tahoma,arial;
	color:#000;background-color:#ddd;
	padding:4px;
}

.white-header {
	font:bold 10px verdana,tahoma,arial;
	color:#000000;background-color:#ddeedd;
	padding:4px;
	border-top:#000 1px solid;
	border-bottom:#000 1px solid;
}

.full-header {
	font:10px verdana,tahoma,arial;
	color:#ddd;background-color:#008800;
}

.button {
	font:10px tahoma,verdana,arial;
	color:#000;background-color:#fff;
	height:19px;
	background-image:url(images/button.gif);background-repeat:repeat-x;
	border:1px #000 solid;margin-top:2px;
}
	
.textbox {
	font:10px verdana,arial;
	color:#000;background-color:#e5ecf4;
	border:1px #000 solid;
}

.body {
	font:11px;
	color:#000;background-color:#eee;
	padding:3px 4px 3px 4px;
}

.sbody {
	font:10px;
	color:#ddd;
	padding:4px 4px 6px 4px;
}

.bodybg {
	background-color:#fff;
	padding:10px;
}

.border {
	background-color:#eee;
	border-width:0px 1px 1px 1px;border-color:green;border-style:solid;
}

.slborder {
	background-color:#008800;
	background-image:url(images/sidebg.gif);background-repeat:repeat-y;
	border-width:0px 1px 0px 0px;border-color:#000;border-style:solid;
}

.srborder {
	background-color:#008800;
	background-image:url(images/sidebg.gif);background-repeat:repeat-y;
	border-width:0px 0px 0px 1px;border-color:#000;border-style:solid;
}

.news-footer {
	font:9px;
	color:#000;background-color:#ddd;
	padding:2px 2px 2px 2px;
}

.barmain {
	font:bold 10px verdana,tahoma,arial;
	color:#fff;
	height:20px;
	padding:0px 4px 2px 4px;
	background-image:url(images/barmain.gif);background-repeat:repeat-x;}

.barleft {
	width:8px;height:20px;
	background-image:url(images/barleft.gif);
}

.barright {
	width:8px;height:20px;
	background-image:url(images/barright.gif);
}

.capmain {
	font:bold 10px verdana,tahoma,arial;
	color:#fff;
	height:20px;
	padding:0px 2px 2px 2px;
	background-image:url(images/capmain.gif);background-repeat:repeat-x;
}

.capleft {
	width:8px;height:20px;
	background-image:url(images/capleft.gif);
}

.capright {
	width:8px;height:20px;
	background-image:url(images/capright.gif);
}

.scapmain {
	font:bold 10px verdana,tahoma,arial;
	color:#000;
	height:19px;
	padding:0px 2px 0px 2px;
	background-image:url(images/scapmain.gif);background-repeat:repeat-x;
	border-width:1px 0px 1px 0px;border-color:#cceecc #000 #446644 #000;border-style:solid;
}

.forum-border {
	background-color:#ccc;
}
	
.forum-caption {
	font:bold 10px;
	color:#fff;
	height:20px;
	padding:0px 4px 2px 4px;
	background-image:url(images/capmain.gif);background-repeat:repeat-x;
}

.quote {
	font:11px;
	color:#000;background-color:#ddd;
	padding:2px;
	margin:0px 20px 0px 20px;
	border:1px #ccc solid;
}

.forum1 {
	font:11px;
	color:#000;background-color:#eee;
	padding:4px;
}

.forum2 {
	font:11px;
	color:#000;background-color:#ddd;
	padding:4px;
}
	
.poll {
	height:12px;
	border-width:1px 1px 1px 1px;border-color:#fff #ccd6e0 #ccd6e0 #fff;border-style:solid;
}

.shoutboxname {
	color:#eeeeff;
}

.shoutbox {
	color:#ddd;
}

.shoutboxdate {
	font:9px;
	color:#bbb;
	text-align:right;
}

.small {
	font:normal 10px;
}

.small2 {
	font:normal 10px;color:#555;
}

a {
	color:#006600;
	text-decoration:none;
}

a:hover 
{
	color:#006600;
	text-decoration:underline;
}

a.slink {
	color:#eeeeff;
	text-decoration:none;
}

a:hover.slink {
	color:#eeeeff;
	text-decoration:underline;
}

a.white {
	color:#fff;
	text-decoration:none;
}

a:hover.white {
	color:green;
	text-decoration:underline;
}

a.foot {
	color:#eeffee;
	text-decoration:none;
}

a:hover.foot {
	color:#eeffee;
	text-decoration:underline;
}

body {
	font:11px verdana,tahoma,arial;
}

form {
	margin:0px 0px 0px 0px;
}

hr {
	height:2px;
	border-top:#bbb 1px solid;
	border-bottom:#fff 1px solid;
}

hr.shr {
	height:2px;
	border-top:#337733 1px solid;
	border-bottom:#77bb77 1px solid;
}

td {
	font:11px verdana,tahoma,arial;
	color:#000;
}